*, 
*:before, 
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Inter", sans-serif;
}

:root {
    --primary-50: hsla(264, 100%, 98%, 1);
    --primary-700: hsla(258, 54%, 52%, 1);
    --gray-700: hsla(217, 23%, 27%, 1);
    --gray-25: hsla(210, 20%, 99%, 1);
}

.header {
    border-block-end: 1px solid var(--gray-25);
}

.header__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 24px 112px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__left, 
.header__right, 
.header__button {
    display: flex;
    align-items: center;
}

.header__left {
    column-gap: 16px;
}

.header__nav {
    list-style-type: none;

    display: flex;
    align-items: center;
    row-gap: 4px;
}

.header__item {
    text-decoration: none;
    color: var(--gray-700);
    font-weight: 500;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 6px;
}

.header__item:hover {
    background-color: var(--primary-50);
    color: var(--primary-700);
}

.header__button {
    border: 1px solid black;
    padding: 10px 16px;
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}

.header__right {
    column-gap: 16px;
}