*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
}

:root {
  --primary-50: hsla(264, 100%, 98%, 1);
  --primary-100: hsla(267, 100%, 96%, 1);
  --primary-300: hsla(265, 89%, 86%, 1);
  --primary-400: hsla(262, 85%, 77%, 1);
  --primary-500: hsla(260, 77%, 70%, 1);
  --primary-600: hsla(259, 63%, 59%, 1);
  --primary-700: hsla(258, 54%, 52%, 1);
  --gray-100: hsla(220, 22%, 96%, 1);
  --gray-200: hsla(220, 17%, 93%, 1);
  --gray-300: hsla(216, 16%, 84%, 1);
  --gray-400: hsla(218, 15%, 65%, 1);
  --gray-500: hsla(220, 13%, 46%, 1);
  --gray-600: hsla(215, 18%, 34%, 1);
  --gray-700: hsla(217, 23%, 27%, 1);
  --gray-900: hsla(221, 43%, 11%, 1);
  --gray-25: hsla(210, 20%, 99%, 1);
  --gray-50: hsla(210, 24%, 98%, 1);
  --base-white: hsla(0, 0%, 100%, 1);
  --salmon-color: hsla(15, 62%, 89%, 1);
  --success-50: hsla(144, 83%, 96%, 1);
  --success-600: hsla(153, 96%, 30%, 1);
  --success-700: hsla(155, 96%, 24%, 1);
}

/* global styles */
.button {
  padding: 10px 16px;
  border: 1px solid var(--gray-300);
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  background-color: var(--base-white);

  display: flex;
  align-items: center;

  column-gap: 12px;
}

/* header styles */
.header__mobile-menu {
  display: none;
}

.header {
  border-block-end: 1px solid var(--gray-300);
  background-color: var(--base-white);
}

.header__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 16px 112px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__left,
.header__right,
.header__button {
  display: flex;
  align-items: center;
}

.header__left {
  column-gap: 16px;
}

.header__nav {
  list-style-type: none;

  display: flex;
  align-items: center;
  row-gap: 4px;
}

.header__item {
  text-decoration: none;
  color: var(--gray-700);
  font-weight: 500;
  font-size: 16px;
  padding: 10px 16px;
  border-radius: 6px;
}

.header__item:hover {
  background-color: var(--primary-50);
  color: var(--primary-700);
}

.header__right {
  column-gap: 16px;
}

.header__button {
  border: 1px solid var(--gray-300);
  padding: 10px 16px;
  border-radius: 8px;
  color: var(--gray-700);
  text-decoration: none;

  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
}

.header__button:hover {
  border: transparent;
  background-color: var(--primary-50);
  color: var(--primary-700);
}

.header__link {
  font-size: 14px;
}

.header__icons > * {
  cursor: pointer;
}

/* hero container */
.hero {
  background-color: var(--gray-25);
}

.hero-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px 112px;
}

/* page header styles */
.page-header {
  margin-block-end: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.page-header__title {
  padding-block-end: 4px;
  font-size: 30px;
  font-weight: 500;
  color: var(--gray-900);
}

.page-header__subtitle {
  font-size: 16px;
  font-weight: 400;
  color: var(--gray-500);
}

.page-header__buttons {
  display: flex;
  align-self: flex-start;
  column-gap: 12px;
}

.button.deposit {
  color: var(--gray-700);
}

.button.send-funds {
  background-color: var(--primary-600);
  color: var(--base-white);
}

/* page filter styles */
.page-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.page-filter__time {
  display: flex;
  padding-block: 16px;
  border-radius: 8px;
}

.page-filter__item {
  border: 1px solid var(--gray-300);
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 500;
  background-color: var(--base-white);
}

.page-filter__item:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.page-filter__item:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.page-filter__item:hover {
  background-color: var(--gray-50);
  cursor: pointer;
}

.page-filter__buttons {
  display: flex;
  column-gap: 12px;
}

.button.dates {
  color: var(--gray-500);
}

.button.filters {
  color: var(--gray-700);
}

/* account info styles */
.gradient {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;

  background: hsla(0, 0%, 100%, 1);
}

.gradient.left {
  background: conic-gradient(
    var(--primary-600) 20%,
    var(--primary-500) 20% 60%,
    var(--primary-400) 60% 70%,
    var(--primary-300) 70% 80%,
    var(--primary-100) 80% 100%
  );
}

.gradient.right {
  background: conic-gradient(
    var(--gray-600) 20%,
    var(--gray-500) 20% 60%,
    var(--gray-400) 60% 70%,
    var(--gray-300) 70% 80%,
    var(--gray-100) 80% 100%
  );
}

.account-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 24px;
  margin-block: 24px;
}

.account-info__card {
  border: 1px solid var(--gray-200);
  border-radius: 8px;
  background-color: var(--base-white);
  padding: 24px;
  box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1),
    0px 1px 2px rgba(16, 24, 40, 0.06);

  display: flex;
  column-gap: 24px;
}

.account-info__first-row,
.account-info__second-row,
.account-info__third-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.account-info__first-icon {
  padding-inline-end: 8px;
  align-self: flex-start;
}

.account-info__text {
  flex-grow: 1;
}

.account-info__title {
  margin-block-end: 24px;
  font-weight: 500;
  font-size: 16px;
  color: var(--gray-900);
}

.account-info__subtitle {
  margin-block-end: 8px;
  font-size: 14px;
  color: var(--gray-500);
  font-weight: 500px;
}

.account-info__balance {
  font-size: 30px;
  font-weight: 600;
  color: var(--gray-900);
}

.account-info__growth {
  border-radius: 16px;
  padding: 2px 8px;
  background-color: var(--success-50);
  color: var(--success-700);
}

.account-info__second-icon {
  display: none;
}

/* main container styles */
.main-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "balance-area    deposits-area"
    "cards-area      deposits-area";
  gap: 24px;
}

.balance-area {
  grid-area: balance-area;
}

.cards-area {
  grid-area: cards-area;
}

.deposits-area {
  grid-area: deposits-area;
}

.main-container__card {
  border: 1px solid var(--gray-200);
  border-radius: 8px;
  background-color: var(--base-white);
  padding: 24px;
  box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1),
    0px 1px 2px rgba(16, 24, 40, 0.06);
}

.main-container__header {
  padding-block-end: 21px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.data-chart {
  max-width: 100%;
  background-image: url("assets/images/straight-lines.png");
}

.month__container {
  padding-inline: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.month__item {
  font-size: 12px;
  font-weight: 400;
  color: var(--gray-500);
}

.mobile-chart {
  display: none;
}

.main-container__title {
  font-size: 18px;
  font-weight: 500;
  color: var(--gray-900);
}

.main-container__logo {
  cursor: pointer;
}

.main-container__row {
  border-block-start: 1px solid var(--gray-200);
  padding-block: 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.row__title {
  font-size: 14px;
  font-weight: 500;
  color: var(--gray-900);
}

.row__title.mobile {
  display: none;
}

.row__subtitle {
  font-weight: 400;
  font-size: 14px;
  color: var(--gray-500);
}

.row__deposit {
  color: var(--success-600);
  font-weight: 400;
  font-size: 14px;
}

.row__left {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.main-container__footer {
  padding-block-start: 16px;
}

.main-container__footer-link {
  color: var(--primary-700);
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}

.main-container__footer.cards {
  border-block-start: 1px solid var(--gray-200);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.button.cards {
  color: var(--gray-700);
}

/* card styles */
.credit-card__container {
  display: flex;
  align-items: center;
  column-gap: 20px;
  row-gap: 30px;
  flex-wrap: wrap;
  padding-block: 24px;
}

.credit-card {
  width: 300px;
  height: 180px;
  margin-block-end: 16px;
}

.credit-card__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.credit-card.dark {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.credit-card.light {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.credit-card.dark > *,
.credit-card.light > * {
  padding: 16px;
}

.dark__left {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: var(--gray-700);
  color: var(--base-white);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.dark__middle-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.credit-card__brand {
  font-weight: 600;
  font-style: 16px;
}

.credit-card__name,
.credit-card__expiration {
  font-weight: 600;
  font-size: 12px;
  font-family: "Manrope";
}

.credit-card__number {
  font-size: 16px;
  font-weight: 600;
  font-family: "Manrope";
}

.dark__right {
  background-color: var(--salmon-color);
  background-image: url("assets/images/credit-card-background.png");
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.dark__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.light__top {
  background-color: var(--salmon-color);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.light__bottom {
  background-color: var(--gray-700);
  color: var(--base-white);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.light__bottom > * {
  align-self: end;
}

.light__middle-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.description__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block-end: 8px;
}

.description__spending {
  font-weight: 500;
  font-size: 14px;
  color: var(--gray-700);
}

.description__amount {
  font-weight: 400;
  font-size: 14px;
  color: var(--gray-500);
}

.credit-card__progress {
  height: 8px;
  border-radius: 20px;
  background-color: var(--primary-50);
}

.credit-card__inner-progress {
  background-color: var(--primary-600);
  border-radius: 20px;
  height: 8px;
}

.credit-card__inner-progress.left {
  width: 60%;
}

.credit-card__inner-progress.right {
  width: 35%;
}

/* laptop styles */
@media (max-width: 1280px) {
  /* header styles*/
  .header__container,
  .hero-container {
    padding-inline: 16px;
  }

  .header__nav,
  .header__icons {
    display: none;
  }

  .header__mobile-menu {
    display: block;
  }

  .header__right {
    column-gap: 30px;
  }

  /* account info styles */
  .account-info__card {
    flex-direction: column;
    row-gap: 20px;
  }

  .row__title {
    display: none;
  }

  .row__title.mobile {
    display: block;
  }
}

/* tablet styles */
@media (max-width: 768px) {
  .main-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "balance-area"
      "cards-area"
      "deposits-area";
    row-gap: 24px;
  }

  /* header styles */
  .header__button,
  .header__icons,
  .header__profile-picture {
    display: none;
  }

  .hero-container {
    padding-inline: 16px;
    padding-block: 32px;
  }

  /* page header styles */
  .page-header__title {
    font-size: 24px;
  }

  .page-header__subtitle {
    font-size: 16px;
    padding-block-end: 16px;
  }

  /* page filter designs */
  /* account info styles */
  .account-info {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 0;
    row-gap: 20px;
  }

  .account-info__card {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 20px;
  }
}

/* phone styles */
@media (max-width: 480px) {
  .account-info__first-row {
    display: none;
  }

  .account-info__second-icon {
    display: block;
    padding-inline-end: 8px;
    align-self: flex-start;
  }

  .desktop-chart {
    display: none;
  }

  .mobile-chart {
    display: block;
  }

  .data-chart-mobile {
    background-image: url("assets/images/straight-lines.png");
  }

  .month__container-mobile {
    padding-inline: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .month__item-mobile {
    font-size: 12px;
    font-weight: 400;
    color: var(--gray-500);
  }

  .main-container__card {
    padding: 20px 16px;
  }

  /* card styles */
  .credit-card__description {
    display: none;
  }

  .credit-card__container {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .credit-card.light {
    padding-block: 10px;
    padding-inline-end: 20px;
    width: 280px;
  }

  .credit-card.dark {
    border-block-end: 1px solid var(--gray-300);
    border-radius: 20px;
    position: absolute;
    inset-block: 0px;
    inset-inline: calc((100% - 300px) / 2);
  }
}
